/*========breadcrumbs========*/
.breadcrumb li a{
    color: #000000;
    text-transform: uppercase;
}

/*========end breadcrumbs========*/
.sngl-top{
    margin-bottom: 15px;
}
.gallery{
    margin-top: 50px;

}
.single-img{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.item_price{
    font-size: 18px;
    font-weight: 600;
    color: red;
}
small{
    font-size: 14px;
    font-weight: 600;
}
.tag-men{
    list-style-type: none;
}

.tag-men span a{
    color: #000000;
    font-weight: 600;
}
.qty{
    padding: 5px;
}
.quantity{
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
}
.product-desc{

    line-height: 1.1;
    font-size: 12px;
}
.single-para{
    margin-bottom: 10px;
}
td .cart-title{
    color: #000000 !important;
}
.del-item{
    cursor: pointer;
}
.del-item:hover{
    border-radius: 50%;
   box-shadow: 0 0 10px rgba(0,0,0,.5);
}
#cart img,
.cart table img{
    height: 50px;
}
@media (min-width: 1200px) {
    .container {
        width: 100%;
    }
}